

.album_container{
  @include flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  .single_album{
    text-align: center;
    background-color: $secondary_color;
    width: calc((100% / 4) - 30px);
    margin: 10px 14px;
    padding: 25px;
    height: 430px;

    span{
      display: block;
      color: $tertiary_color;
    }
    h2{
      color: #ffff;
      text-transform: uppercase;
    }

  }

}
